<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="loginstyle.css" rel="stylesheet">
</head>

<body>
    <div class="auth-container">
        <div class="wrapper glass">
            <form action="">
                <h1>🔐 CCTV Login</h1>
                <div class="input-box">
                    <input type="text" placeholder="Username" required>
                </div>
                <div class="input-box">
                    <input type="password" placeholder="password" required>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox">Remember me</label>
                    <a href="#">Forgot password</a>
                </div>
                <button type="submit" class="btn"><a href="http://127.0.0.1:5000/">Login</a></button>

                <div class="register-link">
                    <p>Don't Have an account? <a href="#">Register</a></p>

                </div>
            </form>
        </div>
    </div>
</body>

</html>